/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "./login.css";

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.game-wrapper {
    background-color: #312f30;
    width: 100%;
    height: 100vh;
}

.game-map-container {
    padding: 10vmin;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-map {
    border: 1px solid #226888;
    position: relative;
    width: 80vmin;
    height: 80vmin;
}

.tile {
    border: 1px solid #a3a3a3;
    background-color: #dfdfdf;
    padding: 0;
    width: 7vmin;
    height: 7vmin;
    text-align: center;
}

.last-in-row {
    width: 7.76vmin;
}

.tile.blocked {
    background-color: #226888;
}

.tile.player {
    background-image: url("/images/player.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3vmin 5vmin;
}

.tile.enemy {
    background-image: url("/images/enemy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vmin 5vmin;
}

.tile.dead {
    background-image: url("/images/dead.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vmin 5vmin;
}

.player-name {
    position: relative;
    bottom: -3vmin;
    color:red;
}
td.tile.player div.player-name{
    color: green;
}