.loginpage {
    width: 100%;
    height: 100vh;
}

.login-wrapper {
    background-color: #312f30;
    width: 100%;
    height: 100%;
}

.login-container {
    margin: 0px auto;
    width: 80%;
    height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.box {
    width: 100%;
    padding: 20px;
    border-radius: 0px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
}

.login-form-container {
    margin: 32px;
    border: 0px solid #ffffff;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    padding: 16px;
    color: #fefefe;
    transition: all 0.25s;
}

.playername-input {
    position: relative;
    left: 2%;
}

.login-header {
    font-size: 46px;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 20px;
}

input[type='text'] {
    height: 64px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 36px;
    line-height: 36px;
    color: #313638;
}

input[type='text']:focus {
    height: 64px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 36px;
    line-height: 36px;
    border-color: #e6305a;
    color: #313638;
}

.login-submit {
    margin: 0;
    background: #6b6969;
    font-family: 'Fira Sans', sans-serif;
    color: #E0DFD5;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    border: 2px solid #E0DFD5;
    height: 48px;
    transition: all 0.5s;
    position: absolute;
}

.login-submit:hover {
    background: #e6305a;
}

@media only screen and (max-width: 1800px) {
    .login-container {
        margin: 0px auto;
        width: 100%;
    }
}

.card-panel {
    padding: 6px 24px;
    margin: 6px;
}

.row {
    margin-bottom: 20px;
}